//Colors
$color-primary: #ffc800;
$color-primary-hover: #C99E00;
$color-secondary: #212529;
$color-white: #fff;

$color-grey-1: rgba(255, 255, 255, 0.1);
$color-grey-2: rgba(255, 255, 255, 0.55);
$color-grey-3: #6c757d;
$color-grey-4: #f8f9fa;
$color-grey-5: #e9ecef;

$color-invalid: orangered;
$color-success: #108e10;

//Border-radius
$border-radius-small: 0.3rem;

// Border
$border-grey: 0.5rem solid $color-grey-5;

//Font
$default-font-size: 1.6rem;

// Values
$small: 1.5rem;
$medium: 4rem;
$big: 8rem;
$huge: 10rem;